<div id="stock-list">
  <div class="card stock-card" 
  *ngFor="let stock of stocksList" 
  >
    <div class="icon">
      <div><div>{{ stock?.name?.substr(0,1) | uppercase }}</div></div>
    </div>
    <div class="name">
        <div class="primary-text">{{ stock?.name | titlecase }}</div>            
        <div class="secondary-text">{{ stock?.timeStamp | timeInterval : currentTime}}</div>
    </div>
    <div *ngIf="trackingStock?.name === stock.name" class="price">
        <div>
          <div class="primary-text">{{ stock?.price | currency:'INR':'symbol':'0.2-2' }}</div>
          <div class="secondary-text" 
            [ngClass]="{'up': stock?.difference > 0, 'down': stock?.difference < 0}">
              {{ stock?.difference == 0 ? 'Consistent' : stock?.difference | currency:'INR':'symbol':'0.2-2' }}
          </div>
        </div>
        <div>
          <i class="material-icons"
            [ngClass]="{'up': stock?.difference > 0, 'down': stock?.difference < 0}">
            {{ stock?.difference > 0 ? 'arrow_upward' : stock?.difference < 0 ? 'arrow_downward' : '' }}
          </i>
        </div>
    </div>
    <div *ngIf="trackingStock?.name != stock.name"><button type="button" (click)="trackStock(stock)">Track</button></div>
  </div>
  <div class="add-stock"><app-add-new-stock [stocks]="stocksList" (addEvent)="addStock($event)"></app-add-new-stock></div>
</div>