#stock-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    & > .stock-card {
        width: calc(100% - 20px);
        margin-bottom: 10px;    
        height: 55px;
        padding-right: 8px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        .primary-text {
            margin-bottom: 3px;
        }
        &:last-child {    
            margin-bottom: 0;    
        }
        & > div {
            display: flex;
            &.icon {
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                margin-right: 15px;
                box-shadow: 0 0 4px #c1c1c1;
                border-radius: 50%;
                overflow: hidden;
                background: #ffffff;
                & > div {
                    height: 35px;
                    width: 35px;                        
                    box-shadow: 0 0 4px #c1c1c1;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #dae4ef;
                    color: #56677b;
                    font-weight: 600;
                }
            }
            &.name {
                flex: 1;
                flex-direction: column;
                align-items: flex-start;
               
            }
            &.price {
                width: 250px;
                align-items: flex-end;
            }
            
        }
    }
    & > .add-stock {
        margin-top: 10px;
        app-add-new-stock {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}