<div id="stock-dashboard">
  <div class="nav-bar">
    <div class="logo"></div>
    <div class="primary-text">Stock Tracker</div>
  </div>
  <div class="dashboard" 
    *ngIf="appService?.stocks && appService?.stocks.length > 0" 
    [ngClass]="{'non-tracking': !appService?.trackingStock, 'tracking': !!appService?.trackingStock}" >
      <div>
          <app-stocks-list 
            [stocksList]="appService?.stocks" 
            [trackingStock]="appService?.trackingStock"
            (addStockEvent)="addStock($event)" 
            (trackStockEvent)="trackStock($event)"></app-stocks-list>
      </div>
      <div>
          <app-stock-details 
            [stock]="appService?.trackingStock"
            [stockDataPoints]="appService?.stockDataPoints"
            [stockTimes]="appService?.stockTimes"
            ></app-stock-details>
      </div>
  </div>
  <div class="dashboard-intro" *ngIf="(!appService?.stocks || appService?.stocks.length == 0)">
      <div class="app-logo"></div>
      <div class="primary-text">WELCOME TO STOCK TRACKER</div>
      <div class="primary-text">Please add new stock(s) to track them</div>
      <div class="add-stock"><app-add-new-stock [stocks]="appService?.stocks" (addEvent)="addStock($event)"></app-add-new-stock></div>
  </div>
</div>