/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    * {
        font-family: 'Roboto', sans-serif;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        cursor: pointer;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #9c9c9c;
    }

    @mixin text() {
        letter-spacing: .8px;
        font-weight: 500;
    }

    .card {
        box-shadow: 0 0 4px #d6d7d8;
        padding: 0 15px 0 15px;
        background: #fcfcfd;
        border: 1px solid #00000020;
        border-radius: .25rem;        
    }

    .primary-text {
        @include text();
        font-size: 13px;
        color: #56677b;
    }

    .secondary-text {
        @include text();
        font-size: 11px;
        color: #8095aa;
    }

    button {
        padding: 5px 15px;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.5px;        
        border-radius: .25rem;        
        border: none;
        background: #90b6e8;
        color: #ffffff;
        box-shadow: 0 0 2px #c1c1c1;
        cursor: pointer;
        &:hover {
            background: #7da1cf;
        }
        &:disabled {
            background: #c1c1c1;
            cursor: not-allowed;
            &:hover {
                background: #c1c1c1;
            }
        }
    }

    .price {
        display: flex;
        flex-direction: row;
        align-items: center;
        .up {
            color: #34a84f;
        }
        .down {
            color: #d63b3b;
        }
        & > div {
            &:first-child {
                flex: 1;
                text-align: right;
            }
            &:last-child {
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 5px;
                margin-left: 5px;
                & > i {
                    font-size: 18px;
                    font-weight: 500;
                    
                }                        
            }
        }
    }
        
}