#stock-details {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 10px;    
    min-height: 100%;
    & > div {
        & > .card {
            margin-bottom: 10px;
            &.graph-card {
                height: auto;
                padding-top: 15px;
                padding-bottom: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                & > .price {
                    display: none;
                    @media only screen and (max-width: 786px) { 
                        display: flex;
                        margin: -8px 0 20px 24px;
                    }
                }
                & > .chart {
                    width: 100%;
                    display: block;
                }
                & > .primary-text, & > .secondary-text {
                    text-align: center;
                    margin-bottom: 3px;
                }
                & > .secondary-text {
                    margin-bottom: 15px;
                }
                & > .stop-tracking {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                }
            }
        }
        
    }
    & > .no-data {
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        & > div {
            margin-bottom: 5px;
            &:first-child {
                margin-bottom: 15px;
                & > .material-icons {
                    color: #56677b;
                }
            }
            &:nth-child(2) {
                font-weight: 600;
                margin-bottom: 7px;
            } 
        }    
    }
}